<script type="text/javascript" src="/static/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>

<div id="header" style="background-color: #E0DADB; height: 100px;"><h4>Simple pomadoro task tracker</h4>
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. <a href="/logout/">Logout</a></p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
</div>

<div id="content" style="height: 100px;">
{% block content %}
    Base
{% endblock %}
</div>

<div id="footer" style="background-color: #E0DADB; height: 100px;">
    <a href="www.pomodorotechnique.com">Pomodoro technique</a>
</div>
